@model ShadyPines.Models.Patient

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to discharge this resident?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Discharge" class="btn btn-info" /> |
            @Html.ActionLink("Back to Resident's List", "Index", new { @class = "btn btn-info btn-xs" }) |
           </div>
    }
</div>
