@model IEnumerable<ShadyPines.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Residents List</h2>

<p>
    | @Html.ActionLink("Add New Resident", "Create")
    | @Html.ActionLink("Show All  Residents", "Index")
    |
</p>

@using (Html.BeginForm())
{
    <p>
        <div class="form-group ">
            Enter Resident's Name: @Html.TextBox("sarchString")
            <input type="submit" value="Search" placeholder="Enter Resident's Name" class="btn btn-info btn-xs" />
        </div>
    </p>
}
<p>

</p>

<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @*// button instead of link*@

                @*| @Html.ActionLink("Edit", "Edit", new { id = item.PatientID }, new { @class = "btn btn-info btn-xs" }) |
                    @Html.ActionLink("Personal Details", "Details", new { id = item.PatientID }, new { @class = "btn btn-info btn-xs" }) |
                    @Html.ActionLink("Discharge", "Delete", new { id = item.PatientID }, new { @class = "btn btn-info btn-xs" }) |
                    @Html.ActionLink("Report", "Create", "MedicalQuestions", new { id = item.PatientID }, new { @class = "btn btn-info btn-xs" }) |
                    @Html.ActionLink("Chart", "Chart", new { id = item.PatientID }, new { @class = "btn btn-info btn-xs" }) |*@

                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resident Options<span class="caret"></span></a>*@

                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options<span class="caret"></span></a>*@
                    <div class="btn-group">
                        <a href="#" class="dropdown-toggle, btn btn-info btn-large" data-toggle="dropdown" role="button" aria-expanded="false">Options <span class="caret"></span></a>
                        @*<a href="#" class="btn btn-default dropdown-toggle, btn btn-info btn-large" data-toggle="dropdown" aria-expanded="false">
                            Resident Options
                            <span class="caret"></span>
                        </a>*@
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Compile Report", "Create", "MedicalQuestions", new { id = item.PatientID }, null)</li>
                            <li>@Html.ActionLink("View Chart", "Chart", new { id = item.PatientID }, null)</li>
                            <li>@Html.ActionLink("Personal Details", "Details", new { id = item.PatientID })</li>
                            <li>@Html.ActionLink("Edit Details", "Edit", new { id = item.PatientID })</li>
                            <li>@Html.ActionLink("Discharge", "Delete", new { id = item.PatientID })</li>
                        </ul>
                    </div>

                    @*| @Html.ActionLink("Edit Details", "Edit", new { id=item.PatientID }) |
            @Html.ActionLink("Personal Details", "Details", new { id=item.PatientID }) |
            @Html.ActionLink("Discharge", "Delete", new { id=item.PatientID }) |

            @Html.ActionLink("Report", "Create","MedicalQuestions", new { id = item.PatientID } , null)

            | @Html.ActionLink("Chart", "Chart", new { id = item.PatientID }, null) |*@



</td>
        </tr>
    }

</table>
